<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayce.seckillsystem.dao.AccountMapper">
    <resultMap id="BaseResultMap" type="com.jayce.seckillsystem.entity.Account">
        <!--@mbg.generated-->
        <!--@Table sk_user-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="realname" jdbcType="VARCHAR" property="username"/>
        <result column="pwd" jdbcType="VARCHAR" property="password"/>
        <result column="mobile_phone" jdbcType="VARCHAR" property="mobilePhone"/>
        <result column="identity_id" jdbcType="VARCHAR" property="identityId"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `realname`, pwd, mobile_phone, identity_id
    </sql>
</mapper>